body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    background-color: #28a745;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
h1 {
    font-size: 36px;
    margin: 0;
}
.blink {
    animation: blink-animation 1s infinite;
}
@keyframes blink-animation {
    0% {
        color: #ff0000; /* Red */
    }
    25% {
        color: #00ff00; /* Green */
    }
    50% {
        color: #0000ff; /* Blue */
    }
    75% {
        color: #ff00ff; /* Magenta */
    }
    100% {
        color: #ffff00; /* Yellow */
    }
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #28a745;
    color: #fff;
}
tr:hover {
    background-color: #f2f2f2;
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
    th, td {
        font-size: 14px;
    }
}

.lottery-section {
    text-align: center;
}

.blink-box {
    display: inline-block;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #ffff00; /* Yellow color */
}

.blink {
    animation: blinker 1s linear infinite;
}

.colorful {
    color: #ff0000; /* Red color */
}

.blink-text {
    text-decoration: none;
    font-weight: bold;
    color: #0000ff; /* Blue color */
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


@keyframes blink-animation-marquee {
    0% {
        color: #ff0000; /* Red */
    }
    25% {
        color: #00ff00; /* Green */
    }
    50% {
        color: #0000ff; /* Blue */
    }
    75% {
        color: #ff00ff; /* Magenta */
    }
    100% {
        color: #ffff00; /* Yellow */
    }
}

.blink-marquee {
    animation: blink-animation-marquee 1s infinite;
}


@keyframes rainbow-animation {
    0% {
        color: #ff0000; /* Red */
    }
    16.66% {
        color: #ff7f00; /* Orange */
    }
    33.33% {
        color: #ffff00; /* Yellow */
    }
    49.99% {
        color: #00ff00; /* Green */
    }
    66.66% {
        color: #0000ff; /* Blue */
    }
    83.33% {
        color: #4b0082; /* Indigo */
    }
    100% {
        color: #9400d3; /* Violet */
    }
}

.colorful {
    animation: rainbow-animation 3s linear infinite;
}
